/*Additions to theme*/
@import url(font-awesome.min.css);

nav ul {
    list-style: none;
    text-align: left;
}

.icons a {
    color: rgba(255, 255, 255, 0.4);
}

.copyright {
    margin-bottom: 0.8em !important;
}

.icons {
    display: table;
    margin: 0 auto;
}

body, input, select, textarea {
    font-family: "proxima-nova", sans-serif;
}

#header {
    padding: 0;
    margin: 0;
}    

a[href="#menu"]:before {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-family: FontAwesome;
    font-style: normal;
    color: white;
    font-weight: normal;
    font-size: 1.5em;
    text-transform: none !important;
    line-height: 48px !important;
    top:50%;
}

a[href="#menu"]:before {
    content: '\f0c9';
    float: right;
    margin-left: 0.5em;
}

a[href="#menu"]:hover {
    background-color: rgba(255, 255, 255, 0.065);
}

.menu-wrapper {
    margin-right: 24px;
}


.navbar-header {
    height : 4em;
}

.inner p {
    margin-bottom: 1em;
}

#main-nav li {
    float: left;
    padding-left: 1.5em;
    padding-right : 1.5em;
}

.logo {
    margin-left: 1.5em;
    letter-spacing: 0.25em;
}

.hidden-top {
    display: none !important;
}

.nav {
    padding: 0;
    margin: 0;
    height: 100%;
}

#main-nav {
    height: 100%;
}

#header {
    -moz-transition: opacity 1s ease-in-out, -moz-transform 1s ease-in-out;
    -webkit-transition: opacity 1s ease-in-out, -webkit-transform 1s ease-in-out;
    -ms-transition: opacity 1s ease-in-out, -ms-transform 1s ease-in-out;
    transition: opacity 1s ease-in-out, transform 1s ease-in-out;
    -moz-transition: -moz-filter 0.25s ease;
    -webkit-transition: -webkit-filter 0.25s ease;
    -ms-transition: -ms-filter 0.25s ease;
    transition: filter 0.25s ease;
}

#header.alt {
    background-color: rgba(0,0,0,0.25)
}



@media screen and (max-width: 768px) {
    .hidden-xs {
        display:none;
        visibility: hidden;
    }

    #header {
        height: 48px;
    }
    
     #logo {
         height: 48px;
         padding-top: 0px !important;
     }
    
    			#header > .logo a {
                    line-height: 48px;
  top: 50%;
  transform: translateY(-50%);
			}
}

@media screen and (min-width:768px) {
    .hidden-l {
        display: none;
    }

    a[href="#menu"]:before {
        display:none;
    }
    

}
nav li {
    height: 100%;
}

nav li a {
    text-decoration: none;
    color: white;
    min-height: 100%;
    top: 50%;
    height : 100%;
    line-height: 4em;

}

#sponsors p {
    font-size: 1.3em;
}
input.menlohacks-input {
    border-color: white !important;
    border: solid 1px !important;
    color: white !important;
    border-radius: 0px !important;
    height: 3em !important;
    padding: 0 1em !important;
}

.intro-paragraph {
    color: white;
}

.section-break {
    width: 10%;
    padding-bottom: 4em;
}


.video-wrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
    padding-right:20px;
    padding-left:20px;
    height: 0;
}
.video-wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


/*End new classes*/